body{
	font-family: 'Lato', sans-serif;
	color: #02b3e4;
	font-weight: 300;
    background-color: #2d3c49;
    
}

* {
    box-sizing: border-box;
}

hr{
    color: #02b3e4;
}

.color-blue{
    color: #02b3e4;
}
.color-dark-blue{
    color: #2d3c49;
}
.color-gray{
    color: #7d97ad;
}

.text-muted{
	color: color-gray;
}
.text-thin{
	font-weight: 100;
}

.title-super{
	font-size: 60px;
}

.title-logo{
	margin-top: 20px;
}

.picture-thumb-size {
    width: 350px;
	height: 300px;
}